*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  }
  body{
    background-color: rgb(153, 100, 20);
  }
  .container{
    position: absolute;
    max-width: 500px;
    height: 400px;
    margin: auto;
    top: 50%;
    left: 65%;
    transform: translate(-50%,-50%);
  }
  .myLeftCtn{
    position: relative;
    height: 100%;
    padding: 25px;
    border-radius:25px;
    background: rgb(235, 231, 228);
    padding-left: 50px;
  }
  .myLeftCtn header{
    color: blueviolet;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .row{
    height: 100%;
  }
  .myCard{
    position: relative;
    background: white;
    height: 100%;
    border-radius: 25px;
  }
  .myForm{
    position: relative;
    margin-top: 30px;
  }
  .myLeftCtn .myinput{
    width: 230px;
    
    margin: 5px; 
    border-radius: 25px;
    padding: 10px;
    padding-left: 50px;
    border: none;
    -webkit-box-Shadow:0px 10px 40px -10px rgba(0,0,0,0.7);
    -moz-box-Shadow:0px 10px 40px -10px rgba(0,0,0,0.7);
    box-shadow:0px 10px 40px -10px rgba(0,0,0,0.7);
  
  }
  .myLeftCtn .myinput:focus{
    outline: none;
  }
  .myForm{
    position: relative;
    margin-top: 50px;
  }
  .myLeftCtn .butt{
    background: linear-gradient(45deg,pink,purple);
    border-radius:25px;
    width: 230px;
    padding: 10px;
    color:white;
    border: none;
    margin: 2px;
    -webkit-box-Shadow:0px 10px 40px -10px rgba(0,0,0,0.7);
    -moz-box-Shadow:0px 10px 40px -10px rgba(0,0,0,0.7);
    box-shadow:0px 10px 40px -10px rgba(0,0,0,0.7);
  }
  .myLeftCtn .butt:focus{
    outline: none;
  }
  .myLeftCtn.fas{
    position: relative;
    color: pink;
    left:36px;
  
  
  }
  .box{
    position: relative;
    margin: 20px;
    margin-bottom: 100px;
  }
  .hyperlink{
    margin: 32px;
    font-size: 18px;
    border-bottom: 1px blueviolet;
    
  }
  